<h2>Suscripción gratuita</h2>
<p>
Esperamos suscripciones de personas que quieran ayudar a
probar este prototipo sistematizando formularios E-14 y pre-conteos 
de las elecciones en Colombia 2022.
</p>

<% if (request.ssl? && resource) || Rails.env.development? %>
  <%= simple_form_for(
    resource, :as => resource_name, 
    :url => registration_path(resource_name)) do |f| %>

    <%= render partial: 'msip/hogar/errores', locals: {f: f} %>
    <div class='container'>

      <%= render partial: 'formulario_inicial', locals: {f: f} %>

      <div class="form-actions">
        <%= f.button :submit, "Suscribirse",
          'data-turbo' => false %>
      </div>
    <% end %>
    <%= render "devise/shared/links" %>

  </div>

<% else %>

  <% urlop = Rails.configuration.action_mailer.default_url_options %>
  <h3>Favor 
    <%= link_to 'usar este enlace para suscribirse', 
      new_usuario_registration_url(urlop) 
    %>
  </h3>
<% end %>
