This web application uses engines also developed by Pasos de Jesús 
with license ISC, they haven been refactorized from
information systems in the public domain whose development was
financed by several organizations
(see <a href='https://github.com/pasosdeJesus/cor1440/blob/main/CREDITOS.md'>some in this link</a>):

<ul>
  <li> <a href="https://github.com/pasosdeJesus/msip">msip</a> 
    <ul>
      <li> <a href="https://github.com/pasosdeJesus/mr519_gen">mr519_gen</a> y
        <ul>
          <li> <a href="https://github.com/pasosdeJesus/heb412_gen/graphs/contributors">heb412_gen</a></li>
          <ul>
            <li> <a href="https://github.com/pasosdeJesus/cor1440_gen">cor1440_gen</a> </li>
          </ul>
        </ul>
    </ul>
  </li>
</ul>
