<% col = ::Usuario.all %>
<%= f.input :busresponsable,
  collection: col.order(:nusuario),
  include_blank: true,
  label_method: :presenta_nombre,
  value_method: :id,
  label: false,
  selected: Msip::ModeloHelper.poromision(params, :busresponsable),
  input_html: {
    class: 'chosen-select',
    'data-enviarautomatico' => ''
  }
%>
