<article class="col-md-4 offset-md-4">
  <% if (request.ssl? || Rails.env.development?) && resource %>
    <%= simple_form_for(
      resource, as: resource_name, url: session_path(resource_name)) do |f| 
    %>
      <div class="form-inputs">
        <%= f.input :email, required:  false, autofocus: true, 
          label: "Correo Electrónico"
        %>
        <%= f.input :password, required: false, label: "Clave" %>
        <%= f.input :remember_me, 
          as: :boolean, 
          boolean_style: :nested,
          label: false,
          inline_label: "Recuerdeme" if devise_mapping.rememberable? 
        %>
      </div>
      <div class="form-actions" align='center'>
        <%= f.button :submit, "Iniciar Sesión",
          'data-turbo' => false %>
      </div>
    <% end %>
    <hr>
    Si aún no tienes una cuenta procede a la 
    <div align='center'>
      <%= link_to 'Suscripción', main_app.sign_up_path, class: 'btn' %>
    </div>
  <% end %>
</article>

