@import '../../../vendor/assets/remixicon/remixicon';
@import '../../../vendor/assets/stylesheets/prosidebar/styles';


.imagen-usuario {
  width: 30px;
  //margin-right: 10px;
  border-radius: 50%;
}

