<p>¡Bienvenido al prototipo de aplicación web Learn Trhough Games para
    aprender mediante juegos!</p>

<p>You can configure your email account with the followin link:</p>
<p><%= link_to 'Confirm my account', 
  confirmation_url(@resource, :confirmation_token => @token) %></p>
