<% content_for :titulo do %>
    <%= Msip.titulo %>
<% end %>

<% content_for :lateral_expandida do %>
  1
<% end %>

<% content_for :menu do %>
  <%= grupo_menus_prosidebar do %>
    <%= opcion_menu_prosidebar I18n.t(:Inicio), 
      Rails.configuration.relative_url_root.to_s,
      {icono: 'ri-briefcase-4-fill'}%>
    <% if !current_usuario.nil? %>
      <%= despliega_abajo_prosidebar I18n.t(:Proyectosfinancieros), 
        'ri-briefcase-4-fill', nil do %>
        <%= opcion_menu_prosidebar I18n.t(:Listado), 
          cor1440_gen.proyectosfinancieros_path %>
        <%= opcion_menu_prosidebar I18n.t(:Validar), 
          cor1440_gen.validar_proyectosfinancieros_path %>
        <% if can? :manage, Cor1440Gen::Mindicadorpf %>
          <%= opcion_menu_prosidebar I18n.t("Medir indicadores"), 
            cor1440_gen.mindicadorespf_path %>
        <% end %>
      <% end %>
      <%= despliega_abajo_prosidebar I18n.t(:Actividades), 
        'ri-riding-fill', nil do %>
        <%= opcion_menu_prosidebar I18n.t(:Listado), 
          cor1440_gen.actividades_path %>
        <%= opcion_menu_prosidebar(
          I18n.t("Contar por actividad de marco lógico"), 
          cor1440_gen.contar_actividades_path) %>
        <%= opcion_menu_prosidebar(
          I18n.t("Contar por beneficiario y actividad de marco lógico"),
          cor1440_gen.contar_actividades_beneficiarios_path) %>
        <% if can? :manage, ::Msip::Orgsocial %>
          <%= opcion_menu_prosidebar I18n.t("Organizaciones sociales"), 
            msip.orgsociales_path %>
        <% end %>
        <% if can? :manage, ::Msip::Persona %>
          <%= opcion_menu_prosidebar(
            I18n.t(:Beneficiarios), msip.personas_path) %>
        <% end %>
      <% end %>
    <% end %>
    <% if !current_usuario.nil? %>
      <%= despliega_abajo_prosidebar I18n.t("Documentos y plantillas"), 
        'ri-book-open-fill', nil do %>
        <%= opcion_menu_prosidebar I18n.t("Nube"), heb412_gen.sisini_path %>
        <% if can? :manage, ::Heb412Gen::Plantillahcm %>
          <%= opcion_menu_prosidebar(
            I18n.t("Plantillas para listados en hojas de cálculo"),
            heb412_gen.plantillashcm_path) %>
        <% end %>
        <% if can? :manage, ::Heb412Gen::Plantillahcr %>
          <%= opcion_menu_prosidebar(
            I18n.t("Plantillas para registros individuales en hojas de cálculo"),
            heb412_gen.plantillashcr_path) %>
        <% end %>
      <% end %>
      <%= despliega_abajo_prosidebar I18n.t("Administrar"), 
        'ri-settings-4-fill', nil do %>
        <% if current_usuario.rol == Ability::ROLADMIN %>
          <%= opcion_menu_prosidebar I18n.t("Usuarios"), 
            main_app.usuarios_path %>
        <% end %>
        <% if can? :manage, Mr519Gen::Formulario %>
          <%= opcion_menu_prosidebar I18n.t("Formularios"), 
            mr519_gen.formularios_path %>
        <% end %>
        <% if current_usuario.rol == Ability::ROLADMIN %>
          <%= opcion_menu_prosidebar I18n.t("Tablas básicas"), 
            msip.tablasbasicas_path %>
        <% end %>
      <% end %>
      <li class="menu-item sub-menu">
        <a href="#">
          <span class="menu-icon">
            <img src="<%= main_app.usuarios_foto_path(current_usuario.id) %>" 
                 alt="imagen-usuario" class="imagen-usuario">
          </span>
          <span class="menu-title">Profile</span>
          <span class="menu-suffix"></span>
        </a>
        <div class="sub-menu-list" data-popper-escaped="" data-popper-placement="right" style="position: fixed; left: 0px; top: 0px; margin: 0px; visibility: hidden; transform: translate(265px, 25px);">
          <ul>
            <%= opcion_menu_prosidebar I18n.t("Clave y tema"), 
              main_app.editar_registro_usuario_path %>
            <%= opcion_menu_prosidebar(
              "#{I18n.t(:Salir)} #{current_usuario.nusuario}",
              main_app.sign_out_path) %>
          </ul>
        </div>
      </li>
    <% else %>
      <%= opcion_menu_prosidebar I18n.t("Acerca de"), 
        msip.acercade_path %>
      <%= opcion_menu_prosidebar I18n.t("Iniciar sesión"), 
        main_app.new_usuario_session_path %>
    <% end %>
  <% end %>
<% end %>

<% content_for :piedepagina do %>
  <p><span class='derechos'>
    <%= I18n.t(:piedepagina_derechos).html_safe %>
  </span></p>
<% end %>

<%= render template: "layouts/msip/application-prosidebar" %>
